# Heartbeat Server Configuration
PORT=4000

# Database
DB_PATH=../data/heartbeat.db

# Heartbeat settings (в секундах)
EXPECTED_INTERVAL=15
TIMEOUT_BUFFER=30
MAX_MANUAL_RECONNECT_TIME=180
MIN_OUTAGE_TIME=60
